.container {
  display: flex;
  margin: 2rem auto 0;
  width: fit-content;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: .5rem;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
border-color: transparent;
  background-color: lightgray;
  color: black;
}

.searchButton {
  border: 1px solid black;
  background: black;
  text-align: center;
  color: white;
  padding: 0 .5rem;
  border-radius: 0 5px 5px 0;
}

.card {
  margin-top: 2rem;
  padding: 2rem;
  background-color: black;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.error{
    color: red;
    text-align: center;
    padding: .5rem 0;
}

.city {
  text-transform: capitalize;
  font-size: 2rem;
}

.temp {
  font-size: 3rem;
  padding: 0.5rem 0;
}

.high_low {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 0.5rem;
}